<style>
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    overflow: hidden;
  }

  canvas {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
